{
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
